.meta-body {margin-top: 15px;}
.meta-title { float: left;width: 25%;}
.meta-input { float: left; width: 74%;}
.meta-description { font-style: italic;}
div #multi_img_div { margin:0px 5px 5px 0px!important; display:inline-block!important;}